/* ---------------style de base ---------------------*/


/* Futura PT Book*/
@font-face {
	font-family: "Futura PT";
	font-style: normal;
	src: url('../Futura/FuturaPTBook.otf');/*Book*/
}
/* Futura PT Bold*/
@font-face {
	font-family: "Futura PT";
	font-weight: 700;
	src: url('../Futura/FuturaPTBold.otf');
}
/* Futura PT Demi*/
@font-face {
	font-family: "Futura PT";
	font-weight: 600;
	src: url('../Futura/FuturaPTDemi.otf');
}
/* Futura PT Extra Bold*/
@font-face {
	font-family: "Futura PT";
	font-weight: 800;
	src: url('../Futura/FuturaPTExtraBold.otf');
}
/* Futura PT Light*/
@font-face {
	font-family: "Futura PT";
	font-weight: 300;
	src: url('../Futura/FuturaPTLight.otf');
}
/* Futura PT Medium*/
@font-face {
	font-family: "Futura PT";
	font-weight: 500;
	src: url('../Futura/FuturaPTMedium.otf');
}

 /* --------------- . ---------------------*/

html {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

body {
	background-color: #000c1c;
	font-family: "Futura PT", "Futura", "Futura Bold";
	src: url("https://use.typekit.net/buh0liv.css");
	font-style: normal;
	color: white;
}

section {
	height: 100vmin;
}

#cycleTypographique, #leporello{
	scroll-snap-align: start;
}

/* -------------------------------- projet cycle typo ----------------------------------------*/

#cycleTypographique {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: contain;
}

.cycleTypographique {
	overflow: hidden;
	height: 100vmin;
}

/* --------------- menu burger ---------------------*/

#menu{
	display: inline-block;
	cursor: pointer;
	position: fixed;
	right: 3vw;
	margin-top: 2vh;
	z-index: 5;
}

.bar1,
.bar2,
.bar3 {
	width: 5.5vw;
	height: 0.25vw;
	background-color: white;
	margin: 0.5vw 0;
	transition: 0.4s;
	border-radius: 20vw;
	opacity: 90%;
}

.change .bar1 {
	transform: rotate(-45deg) translate(-0.6vw, 0.4vw);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: rotate(45deg) translate(-0.5vw, -0.5vw);
}


/* --------------- slide effect ---------------------*/

#itemMenu {
	font-size: 5vw;
	text-align: center;
	margin-top: 0vh;
	position: fixed;
	z-index: 2;
	right: -100%;
	background: linear-gradient(0.25turn, #000c1c, #000c1c, #e94a45);
	width: 100%;
	height: 102.5vmin;
}


#itemMenu ul li{
	list-style: none;
	margin-top: 25vh;
}

#itemMenu ul li a{
	display: block;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	transition: background .5s;
	text-align: center;
	line-height: 0vw;
}

#itemMenu ul li a:hover{
	color: #e94a45;
	transition: background .5s;
}


/* slide */

#itemMenu.visible{
	animation: .5s slideLeft ease-in forwards;
	transition-delay: 0;
}

#itemMenu.invisible{
	animation: .2s slideRight ease-out forwards;
	transition-delay: 0;
}


/* --------------- animation slide effect ---------------------*/

@keyframes slideLeft {
	from {
		right: -100%;
	}
	to {
		right: 0%;
	}
}

@keyframes slideRight {
	from {
		right: 0%;
	}
	to {
		right: -100%;
	}
}
/* --------------- scroll down  ---------------------*/

#cycleTypographiqueSwipe a span {
	position: absolute;
	bottom: -13vh;
	right: 62%;
	width: 1.8vw;
	height: 1.8vw;
	border-left: 0.08vw solid #e94a45;
	border-bottom: 0.08vw solid #e94a45;
	transform: rotate(-45deg);
	animation: oulipoSwipe 1.5s infinite;
	opacity: 50%;
	box-sizing: border-box;
}

#cycleTypographiqueSwipe a span:nth-of-type(1) {
	animation-delay: 0s;
}

#cycleTypographiqueSwipe a span:nth-of-type(2) {
	bottom: -12vh;
	animation-delay: .15s;
}

#cycleTypographiqueSwipe a span:nth-of-type(3) {
	bottom: -11vh;
	animation-delay: .3s;
}

@keyframes oulipoSwipe {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


/* --------------- carousel ---------------------*/

.container1 {
	width: 100%;
	margin-left: 0vw;
}

.carousel-indicators {
	z-index: 1;
}

#myCarousel1 {
	height: 100vmin;
	position: static;
	height: 100vmin;
	margin-top: 0vh;
	z-index: 0;
}


/* --------------- flèches  ---------------------*/

#leftArrows {
	margin-top: -50vh;
	width: 3vw;
	opacity: 50%;
	float: left;
	z-index: 90;
}

#rightArrows {
	margin-top: -50vh;
	width: 3vw;
	float: right;
	opacity: 50%;
	z-index: 90;
}


/* --------------- cycle typo img ---------------------*/

#filtre {
	background-color: #000c1c;
	height: 101vmin;
	width: 100vmin;
	z-index: 1;
	float: right;
	margin-top: -3.5vw;
	opacity: 80%;
	transition-duration: 1s;
	position: sticky;
}

#filtre:hover{
	opacity: 0%;
	transition-duration: 1S;
}

#photoCycleTypo img {
	height: 100vmin;
	width: 100vmin;
	z-index: -10;
	float: right;
	margin-top: -100.5vh;
	position: relative;
}

/* --------------- page 1 ---------------------*/

h1 {
	font-size: 1.4vw;
	font-weight: 300;
	margin-left: 3vw;
	margin-top: 2vh;
	cursor: pointer;
	z-index: 2;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: #D1E0E8;
	text-decoration: none;
}

a:hover {
	color: #e94a45;
}

#texteChindogu h2 {
	position: absolute;
	font-size: 14vw;
	margin-left: 5vw;
	margin-top: -5vh;
	font-weight: 600;
	text-shadow: white 2px 2px, white -2px 2px, white -2px -2px, white 2px -2px;
	color: #000c1c;
	cursor: default;
  line-height: 19vh;
  text-align: right;
}

#texteChindogu {
	z-index: 2;
	color: #e94a45;
}

#un {
	margin-top: 20.5vh;
	margin-left: 15.9vw;
	font-size: 1.3vw;
	font-weight: 300;
	cursor: default;
}

#description {
	position: absolute;
	margin-left: 15.9vw;
	font-size: 1.3vw;
	font-weight: 300;
	margin-top: 40vh;
	cursor: default;
  width: 25vw;
}

#texteChindogu h4 {
	margin-left: 15.9vw;
	font-weight: 100;
	margin-top:50vh;
	cursor: default;
}

#photoCycleTypo h3 {
	font-size: 14.5vw;
	z-index: 5;
	float: right;
	margin-top: -61vh;
	margin-right: 1.5vw;
	font-weight: 600;
	color: white;
}

#photoCycleTypo h3 :hover {
	color: #000c1c;
}

/* --------------- page 2 ---------------------*/

.cycleTypographique2 {
	overflow: hidden;
	height: 100vmin;
}

img#cycleTypographique2{
	z-index: -5;
	margin-top:-8vh;
	position: sticky;
	}

  /* --------------- page 3 ---------------------*/

  .cycleTypographique3 {
  	overflow: hidden;
  	height: 100vmin;
  }

  img#cycleTypographique3{
  	z-index: -5;
  	margin-top:-8vh;
  	position: sticky;
  	}

    /* -------------------------------- leporello ----------------------------------------*/

    #leporello {
    	background-repeat: no-repeat;
    	background-attachment: scroll;
    	background-size: contain;
    	overflow: hidden;
    	height: 100vmin;
    }


    /* --------------- carousel 2 ---------------------*/

    .container2 {
    	width: 100%;
    	margin-left: 0vw;
    }

    #myCarousel2 {
    	height: 100vmin;
    	position: static;
    	height: 100vmin;
    	margin-top: 0vh;
    	z-index: 0;
    }


    /* --------------- flèches  ---------------------*/

    #leftArrows2 {
    	margin-top: -50vh;
    	width: 3vw;
    	opacity: 50%;
    	float: left;
    	z-index: 90;
    }

    #rightArrows2 {
    	margin-top: -50vh;
    	width: 3vw;
    	float: right;
    	opacity: 50%;
    	z-index: 90;
    }


    /* ---------------letters are img ---------------------*/

    #photoleporello img {
    	height: 100vmin;
    	width: 100vmin;
    	z-index: -10;
    	float: right;
    	margin-top: -100.5vh;
    	position: sticky;
    }


    /* --------------- page 1 ---------------------*/

    #texteleporello h2 {
    	font-size: 15vw;
    	margin-left: 12vw;
    	margin-top: -2vh;
    	font-weight: 600;
    	text-shadow: white 2px 2px, white -2px 2px, white -2px -2px, white 2px -2px;
    	color: #000c1c;
    	cursor: default;
    	line-height: 10vw;
    }

    #texteleporello {
    	z-index: 2;
    	color: #e94a45;
    }

    #deux {
    	margin-top: 38vh;
    	margin-left: 16vw;
    	font-size: 1.3vw;
    	font-weight: 300;
    	cursor: default;
    }

    #descriptionDeux {
    	margin-left: 14.8vw;
    	font-size: 1.3vw;
    	font-weight: 300;
    	margin-top: 4vw;
    	cursor: default;
      width:20vw;
    }

    #texteleporello h4 {
    	margin-left: 14.8vw;
    	font-weight: 100;
    	margin-top: 0.5vw;
    	cursor: default;
    }

    #photoleporello h3 {
    	font-size: 15vw;
    	z-index: 5;
    	float: right;
    	margin-top: -61vh;
    	margin-right: 28vw;
    	font-weight: 600;
    	color: #000c1c;
    }

    #photoleporello h3 :hover {
    	color: #000c1c;
    }


    /* --------------- scroll down  ---------------------*/

    #leporelloSwipe a span {
    	position: absolute;
    	bottom: -16vh;
    	right: 62%;
    	width: 1.8vw;
    	height: 1.8vw;
    	border-left: 0.08vw solid #e94a45;
    	border-bottom: 0.08vw solid #e94a45;
    	transform: rotate(-225deg);
    	animation: oulipoSwipe 1.5s infinite;
    	opacity: 50%;
    	box-sizing: border-box;
    }

    #leporelloSwipe a span:nth-of-type(1) {
    	animation-delay: 0s;
    }

    @keyframes oulipoSwipe {
    	0% {
    		opacity: 0;
    	}
    	50% {
    		opacity: 1;
    	}
    	100% {
    		opacity: 0;
    	}
    }

    /* --------------- page 2 ---------------------*/

    .leporello2 {
    	overflow: hidden;
    	height: 100vmin;
    }

    img#leporello2{
    	z-index: -5;
    	margin-top:-8vh;
    	position: sticky;
    	}

      /* --------------- page 3 ---------------------*/

      .leporello3 {
      	overflow: hidden;
      	height: 100vmin;
      }

      img#leporello3{
      	z-index: -5;
      	margin-top:-8vh;
      	position: sticky;
      	}

        /* --------------- page 4 ---------------------*/

        .leporello4 {
        	overflow: hidden;
        	height: 100vmin;
        }

        img#leporello4{
        	z-index: -5;
        	margin-top:-6vh;
        	position: sticky;
        	}

          /* --------------- page 4 ---------------------*/

          .leporello5 {
          	overflow: hidden;
          	height: 100vmin;
          }

          img#leporello5{
          	z-index: -5;
          	margin-top:-6vh;
          	position: sticky;
          	}
